.stint-manager{
    background-color: #263238;
    width: 65%;
    float: left;
    position: absolute;
    top: 75px;
    bottom: 0;
    border-right: 5px solid #78909C;
}

.stint-title{
    background-color: #75ABBC;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
.stint-entry{
    background-color: #DFE0E2;
    width: 95%;
    height: 50px;
    margin: auto;
    border-style: none;
    margin-top: 6px;
    margin-bottom: 3px;
    border-radius: 10px 10px 10px 10px;
}

.stint-time{
    font-family: 'Lato', sans-serif;
    padding-left: 5px;
}

.driver-name-box{
    border: none;
    height: 35px;
    margin-top: 7px;
    margin-left: 10px;
    padding-left: 5px;
    width: 25%;
}
.driver-name-box:focus{
    outline: none;
}
.select-stint{
    height: 35px;
    margin-left: 10px;
    padding-right: 5px;
    outline:0px;
    border: none;
}

.stint-entry .material-icons{
    font-size: 3em;
    float: right;
}